<div id="buttons-group-container" class="w-fit flex justify-end">
    <div id="buttons-group" class="flex justify-end gap-2 items-center w-max">
        {{{ await $slots.buttonsGroup() }}}
    </div>
</div>