<div id="buttons-group-container" class="w-full flex justify-end">
    <div id="buttons-group" class="flex justify-end gap-2 items-center px-2 w-max">
        {{{ $slots.buttonsGroup() }}}
    </div>
</div>