<div class="modal-container">
    <div>
        <div class="modal-header">
            <h1>Meu Título</h1>
            <button class="close-modal">
                <span class="material-icons">close</span>
            </button>
        </div>

        <div class="modal-content">
            meu content
        </div>

        <div class="modal-footer">
            meu footer
        </div>
    </div>
</div>