<nav class="navbar">
    <div class="navbar-start">
        <button class="btn-ghost btn-circle">
            <span class="material-icons">menu</span>
        </button>
    </div>
    
    <div class="navbar-center">
        <a class="btn btn-ghost normal-case text-xl font-ubuntu">Preçometro</a>
    </div>

    <div class="navbar-end">
        <button class="btn-ghost btn-circle">
            <span class="material-icons">notifications</span>
        </button>
</nav>